= simple_form_for(@workout, html: {class: "form-horizontal"}) do |f|
	=f.input :date, label: "Date"
	=f.input :workout, label: "What body part was worked out?", input_html: { class: "form-control" }
	=f.input :mood, label: "How is your mood?", input_html: { class: "form-control" }
	=f.input :length, label: "What was the length of the workout?", input_html: { class: "form-control"}
	%br/
	=f.button :submit